<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta content="Chat with large clusters of machines as easily as instant-messaging with a friend." name="description"/>
<title>{{ page.title }}</title>
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<link rel="stylesheet" href="/stylesheets/reset.css"/>
<link rel="stylesheet" href="/stylesheets/text.css"/>
<link rel="stylesheet" href="/stylesheets/960.css"/>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen"/>
<script type="text/javascript" src="http://use.typekit.com/crf4oti.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23201080-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body id="{{ page.page_id }}">
