html {
  height: 100%;
}
body {
  background-color: #7AB445;
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)) fixed no-repeat, url(../images/bg.png);
  background: -ms-radial-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)) fixed no-repeat, url(../images/bg.png);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)) fixed no-repeat, url(../images/bg.png);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0)) fixed no-repeat, url(../images/bg.png);
  color: #222;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  height: 100%;
}
p {
  font-size: 14px;
}
ul {
  list-style: none;
}
li {
  font-size: 14px;
  margin-bottom: 5px;
}
h1, h2, h3, h4, h4, h6 {
  font-weight: 300;
  font-family: "pill-gothic-600mg", "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 0 1px 1px #222;
}
a {
  color: #222;
}
a:hover {
  color: #ff0;
}
#top {
  background-color: #222;
  height: 5px;
}
header {
  margin-bottom: 40px;
}
header nav {
  height: 75px;
}
header nav ul {
  height: 75px;
}
header nav ul li:first-child {
  margin-left: 0;
}
header nav ul li {
  display: inline-block;
  height: 75px;
}
header nav ul li a {
  color: #222;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  font-family: "pill-gothic-600mg", "Helvetica Neue", Helvetica, sans-serif;
  height: 75px;
  line-height: 75px;
  padding: 0 10px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #000;
}
header h1 {
  color: #222;
  font-size: 76px;
  font-family: "ff-cocon-web-pro", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -0.04em;
  margin: 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8), 0 0 100px rgba(255, 255, 255, 0.75);
}
header h1 a {
  text-decoration: none;
}
#home-page p {
  font-size: 16px;
}
#home-page #intro {
  background: #222 url(/images/intro.png) no-repeat 480px 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.75);
  height: 300px;
  margin-bottom: 40px;
  position: relative;
}
#home-page #intro p {
  color: #f8f8f8;
  font-family: "pill-gothic-600mg", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  width: 460px;
}
#home-page .screenshot {
  background-color: #fff;
  border: 1px solid #F0F0F0;
  box-shadow: 0 1px 5px #ddd, inset 0 0 10px rgba(0, 0, 0, 0.4);
  height: 225px;
  margin-bottom: 40px;
  width: 400px;
}
#home-page section .omega .screenshot {
  margin-left: 58px;
}
#home-page #permissions-screenshot {
  background: #fff url(/images/permissions.png) no-repeat center;
}
#home-page #chat-screenshot {
  background: #fff url(/images/ichat-adium.png) no-repeat center;
}
#home-page #command-line-screenshot {
  background: #fff url(/images/command-line.png) no-repeat center;
}
#home-page #open-source-screenshot {
  background: #fff url(/images/open-source.png) no-repeat center;
}
#main {
  padding-bottom: 200px;
}
#wrap {
  min-height: 100%;
}
footer {
  background-color: #222;
  clear: both;
  height: 200px;
  margin-top: -200px;
  position: relative;
}
footer p {
  color: rgba(255, 255, 255, 0.75);
  font-family: "pill-gothic-600mg", "Helvetica Neue", Helvetica, sans-serif;
  margin: 40px 0 0 0;
  text-transform: lowercase;
}
footer #logo {
  color: #fff;
  display: block;
  font-family: "league-gothic", Helvetica, sans-serif;
  font-size: 76px;
  line-height: 1;
  text-decoration: none;
  text-transform: lowercase;
}
footer #logo span {
  color: #981a1a;
}
#home-page #install {
  background: #8dd2f7;
  background: -moz-linear-gradient(#8dd2f7, #58b8f4);
  background: -ms-linear-gradient(#8dd2f7, #58b8f4);
  background: -o-linear-gradient(#8dd2f7, #58b8f4);
  background: -webkit-linear-gradient(#8dd2f7, #58b8f4);
  border: 1px solid #448ccd;
  border-top: 1px solid #5da8db;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255,255,255,0.7);
  color: #0d4078;
  cursor: pointer;
  display: inline-block;
  font-family: "ff-cocon-web-pro", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 20px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  width: 210px;
}
ul.nav-links li {
  font-size: 14px;
  list-style: none;
  margin: 0 0 6px 0;
  text-shadow: 0 1px 1px #000;
}
ul.nav-links li a {
  color: #222;
  text-decoration: none;
  padding-bottom: 2px;
}
#content {
  background: rgba(255, 255, 255, 0.45);
  padding: 20px;
}
nav#sidebar {
  margin-top: 20px;
}
nav#sidebar h2 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 3px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
}
pre {
  background: #222;
  color: #f8f8f8;
  display: block;
  font-family: "inconsolata", Menlo, monospace;
  font-size: 14px;
  overflow-x: auto;
  padding: 10px 15px;
}
figure, figcaption {
  display: block;
  margin-left: 0;
  margin-right: 0;
}
figure.screenshot {
  margin-bottom: 20px;
}
figure.screenshot img {
  background: #fff;
  box-shadow: 0px 0px 10px #888;
  padding: 5px;
  width: 490px;
}
figure.screenshot figcaption {
  font-size: 12px;
  text-align: right;
}
