#login-page {
  background: -moz-radial-gradient(#1a3762, #0c1a2d);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#1a3762), to(#0c1a2d));
}
#login-page #container {
  height: 100%;
  width: 100%;
  text-align: center;
}
#login-page h1 {
  color: #4693ff;
  font-family: "ff-cocon-web-pro-1", "ff-cocon-web-pro-2", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 60pt;
  letter-spacing: -4px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0 1px 1px #000;
}
#login-page #login-form {
  margin: 0 auto;
  position: relative;
}
#login-page #jid,
#login-page #password {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 240px;
  display: block;
}
#login-page #start {
  background: #285696;
  background: -webkit-gradient(linear, left top, left bottom, from(#4693ff), to(#285696));
  background: -moz-linear-gradient(top, #4693ff, #285696);
  border: 1px solid #4693ff;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 1px #000;
  box-shadow: 0 1px 1px #000;
  color: #76b6ff;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11pt;
  margin: 10px 0;
  padding: 8px 35px 9px 35px;
  text-shadow: 0 -1px 1px #0c1a2d;
}
#login-page #start:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#285696), to(#3270c3));
  background: -moz-linear-gradient(top, #285696, #3270c3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
#login-page #error {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  color: #4693FF;
  font-size: 10pt;
  margin: 20px auto;
  text-shadow: 0 1px 1px #000;
  width: 250px;
}