{% include header.html %}
  <div id="wrap">
    <a href="https://github.com/negativecode/vines"><img style="position:absolute;top:0;right:0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/></a>
    <div id="top"></div>
    <header>
      <div class="container_12">
        <nav>
          <ul>
            <li><h1>vines&gt;</h1></li>
            <li><a href="/">Home</a></li>
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="http://www.negativecode.com/posts/">Blog</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="main" class="container_12">
      <nav id="sidebar" class="grid_3">
        <h2>Quick Start</h2>
        <ul class="nav-links">
          <li><a href="/docs/">Overview</a></li>
          <li><a href="/ruby/">Install Ruby</a></li>
          <li><a href="/services/">Install Vines</a></li>
        </ul>
        <h2>Chat Server</h2>
        <ul class="nav-links">
          <li><a href="/server/">Install</a></li>
          <li><a href="/server/configure/">Configure</a></li>
          <li><a href="/server/cluster/">Cluster</a></li>
          <li><a href="/server/commands/">Commands</a></li>
          <li><a href="/server/web-chat-client/">Web Chat Client</a></li>
        </ul>
        <h2>Services</h2>
        <ul class="nav-links">
          <li><a href="/services/">Install</a></li>
          <li><a href="/services/web/">Web Application</a></li>
        </ul>
        <h2>Agent</h2>
        <ul class="nav-links">
          <li><a href="/agent/">Install</a></li>
        </ul>
      </nav>
      <div class="grid_7">
        <div id="content">
          {{ content }}
        </div>
      </div>
      <div class="clear"></div>
    </section>
  </div>
{% include footer.html %}