<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta content="A chat server that's up and running in 60 seconds." name="description"/>
<title>{{ page.title }}</title>
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<link rel="stylesheet" href="/stylesheets/reset.css"/>
<link rel="stylesheet" href="/stylesheets/text.css"/>
<link rel="stylesheet" href="/stylesheets/960.css"/>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen"/>
<script type="text/javascript" src="http://use.typekit.com/crf4oti.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23201080-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
  <a href="https://github.com/negativecode/vines"><img style="position:absolute;top:0;right:0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/></a>
  <div id="top"></div>
  <div class="container_12">
    <div id="nav" class="grid_3">
      <h1><a href="/">vines&gt;</a></h1>
      <ul id="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/ruby">Install Ruby</a></li>
        <li><a href="/commands">Commands</a></li>
        <li><a href="/web-chat-client">Web Chat Client</a></li>
      </ul>
    </div>
    <div id="content" class="grid_6">
      <p id="intro">
        Vines is an XMPP chat server designed for easy install, configuration,
        and maintenance. Written in Ruby with EventMachine, Vines can handle any
        traffic you throw at it without breaking a sweat.
      </p>
      {{ content }}
    </div>
    <div id="footer">
      <a id="logo" href="http://www.negativecode.com">negative <span>code</span></a>.
    </div>
  </div>
</body>
</html>
