{% include header.html %}
  <div id="wrap">
    <a href="https://github.com/negativecode/vines"><img style="position:absolute;top:0;right:0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/></a>
    <div id="top"></div>
    <header>
      <div class="container_12">
        <nav>
          <ul>
            <li><h1>vines&gt;</h1></li>
            <li><a href="/">Home</a></li>
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="http://negativecode.com/posts/">Blog</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="main" class="container_12">
      {{ content }}
      <div class="clear"></div>
    </section>
  </div>
{% include footer.html %}